body {
  background-color: #FFF7FB;
  font-family: "Helvetica Neue", Arial, "微軟正黑體", sans-serif;
  padding: 40px;
}
h1{
    color:#003E3E;
    font-size:60px;
}
h2{
    color:#009393;
}
p{
    color:gray;
}

